<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Add source</h5>
                <div class="card-body">
                   The resulting temperature is {{result}}&#xB0;.
                    <div class="col-12 d-flex justify-content-center"><br>
                        <a href="{{ path('homepage') }}" class="btn btn-primary">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>