{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'homepage/components/result.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
